<div class="singin-box">
  <div class="icon-box py-3">
    <i class="fas fa-user-alt"></i>
  </div>
  <h1>Sing In</h1>
  <form [formGroup]="singInForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col">
        <label>Email address:</label>
        <input type="text" placeholder="Enter email" formControlName="email" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>Password:</label>
        <input type="password" placeholder="Enter password" formControlName="password" class="form-control">
      </div>
    </div>
    <button type="submit" class="w-100">Sing In</button>
  </form>
</div>
